<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-4 align-self-start"> <!-- Contenedor izquierdo -->
            <p class="elemento">Pasteleria</p>
            <p class="elemento">Cocina Tradicional</p>
            <p class="elemento">Chefcito</p>
            <p class="elemento">Ya no se que poner bro XD</p>
            <p class="elemento">Pasteleria</p>
            <p class="elemento">Cocina Tradicional</p>
            <p class="elemento">Chefcito</p>
            <p class="elemento">Ya no se que poner bro XD</p>
          </div>
          <div class="col col-sm-6 align-self-start"> <!-- Contenedor derecho -->
            <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque ut eos molestiae unde ipsa quae, atque, consectetur labore quos eveniet facere earum culpa fuga, quaerat cum in fugit voluptates?</div>
          </div>
        </div>
      </div>
      
      
      
      
      <style>
        .row {
            border: 2px solid #180b8d;
        }
        [class^="col"] {
              /* Estilos para col-6, col-9 y col-3 */
            border: 2px solid #00FF00;
            margin: 9px;
        }
        .col.align-self-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

        .elemento{
            border: 2px solid blueviolet;
            margin-bottom: 3px;
        }
      </style>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>