<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Vista General</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Menu</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Vista general<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">volver</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Usuario</a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Verificaciones</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Salir</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </head>

  <body>
    

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card text-center">
          <img src="/proyecto/public/multimedia/IMG_PRUEBA.webp" class="img-fluid rounded" alt="Miniatura 1">
          <div class="card-body">
            <h5 class="card-title">qsfxf</h5>
          </div>
        </div>
      </div>
      <!-- Repite para las demás tarjetas -->
      <div class="col-md-4 mb-4">
        <div class="card text-center">
          <img src="public/multimedia/IMG_PRUEBA.webp" class="img-fluid rounded" alt="Miniatura 1">
          <div class="card-body">
            <h5 class="card-title">2345wtdr</h5>
          </div>
        </div>
      </div>
      <!-- Repite para las demás tarjetas -->
      <div class="col-md-4 mb-4">
        <div class="card text-center">
          <img src="/public/multimedia/IMG_PRUEBA.webp" class="img-fluid rounded" alt="Miniatura 1">
          <div class="card-body">
            <h5 class="card-title">zsfdds</h5>
          </div>
        </div>
      </div>
    </div>
      <!-- Repite para las demás tarjetas -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card text-center">
            <img src="/public/multimedia/IMG_PRUEBA.webp" class="img-fluid rounded" alt="Miniatura 1">
            <div class="card-body">
              <h5 class="card-title">Ssfresfsfd</h5>
            </div>
          </div>
        </div>
              <!-- Repite para las demás tarjetas -->
      <div class="col-md-4 mb-4">
        <div class="card text-center">
          <img src="/public/multimedia/IMG_PRUEBA.webp" class="img-fluid rounded" alt="Miniatura 1">
          <div class="card-body">
            <h5 class="card-title">zsfdds</h5>
          </div>
        </div>
      </div>
          <!-- Repite para las demás tarjetas -->
          <div class="col-md-4 mb-4">
            <div class="card text-center">
              <img src="/public/multimedia/IMG_PRUEBA.webp" class="img-fluid rounded" alt="Miniatura 1">
              <div class="card-body">
                <h5 class="card-title">zsfdds</h5>
              </div>
            </div>
          </div>
  </div>

  <style>
    .card {
  border: 2px solid #FF0000; /* Borde de la card */
  padding: 6px; /* Relleno de 6px para establecer la distancia entre el borde y el contenido */
}

.img-fluid{
  border: 2px solid #00FF00; /* Borde de la imagen */
  margin: 5px; /* Margen de 5px alrededor de la imagen */
}

.card-title {
  border: 2px solid #0000FF; /* Borde del texto */
  margin: 6px; /* Margen de 6px alrededor del texto */
}

  </style>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
